flows.json
[
    {
        "id": "813ab6d8.2ec2f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9b167ae.800258",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "13a7c62d.2b211a",
        "type": "arduino-board",
        "z": "",
        "device": "COM3"
    },
    {
        "id": "290cee72.0a2492",
        "type": "ui_tab",
        "z": "",
        "name": "Pochete",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2c95518.d636b8",
        "type": "ui_group",
        "z": "",
        "name": "Sala",
        "tab": "290cee72.0a2492",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "16936f75.903d81",
        "type": "ui_tab",
        "z": "",
        "name": "SALA 704",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c238dfb.a432e2",
        "type": "ui_group",
        "z": "",
        "name": "Iluminação",
        "tab": "16936f75.903d81",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7938eb78.501d94",
        "type": "ui_group",
        "z": "",
        "name": "Temperatura",
        "tab": "290cee72.0a2492",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d305d4.a62a9a3",
        "type": "inject",
        "z": "813ab6d8.2ec2f8",
        "name": "Ligar",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8ce3f8c3.c90dc8"
            ]
        ]
    },
    {
        "id": "ee4087e5.684c48",
        "type": "inject",
        "z": "813ab6d8.2ec2f8",
        "name": "Desligar",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "8ce3f8c3.c90dc8"
            ]
        ]
    },
    {
        "id": "21ed0417.0316fc",
        "type": "mqtt in",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "topic": "ledPochete2",
        "qos": "2",
        "datatype": "auto",
        "broker": "b9b167ae.800258",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "9c132ce3.fb461"
            ]
        ]
    },
    {
        "id": "8ce3f8c3.c90dc8",
        "type": "mqtt out",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "topic": "ledPochete2",
        "qos": "",
        "retain": "true",
        "broker": "b9b167ae.800258",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "9c132ce3.fb461",
        "type": "arduino out",
        "z": "813ab6d8.2ec2f8",
        "name": "LED",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "13a7c62d.2b211a",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "fc9cd429.712798",
        "type": "arduino in",
        "z": "813ab6d8.2ec2f8",
        "name": "Temperatura",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "13a7c62d.2b211a",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "47d8f138.5ebd6"
            ]
        ]
    },
    {
        "id": "446aa9d8.bf9e08",
        "type": "function",
        "z": "813ab6d8.2ec2f8",
        "name": "pochete",
        "func": "msg.payload = (msg.payload * 0.48828125).toFixed(2)\ncontext.global.temperatura = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "c649561a.060438",
                "857f9d2c.3ca2a",
                "bada4997.94ac68"
            ]
        ]
    },
    {
        "id": "857f9d2c.3ca2a",
        "type": "debug",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "47d8f138.5ebd6",
        "type": "delay",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "446aa9d8.bf9e08"
            ]
        ]
    },
    {
        "id": "c649561a.060438",
        "type": "mqtt out",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "topic": "temperaturaPochete",
        "qos": "",
        "retain": "",
        "broker": "b9b167ae.800258",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "2172ace2.3e2a54",
        "type": "ui_button",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "group": "f2c95518.d636b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ligar LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "ledPochete2",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "8ce3f8c3.c90dc8"
            ]
        ]
    },
    {
        "id": "7ff94414.9a3fdc",
        "type": "ui_button",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "group": "c238dfb.a432e2",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "#e503046",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "ledPochete2",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "8ce3f8c3.c90dc8"
            ]
        ]
    },
    {
        "id": "3e7e2e81.b3f5b2",
        "type": "http in",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "url": "/getTemperatura",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "a1ae2e.168841d"
            ]
        ]
    },
    {
        "id": "508c0c51.57ba44",
        "type": "http response",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1ae2e.168841d",
        "type": "function",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "func": "dados = {\n    temperatura: context.global.temperatura\n}\nmsg.payload = JSON.stringify(dados)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "508c0c51.57ba44"
            ]
        ]
    },
    {
        "id": "bada4997.94ac68",
        "type": "ui_gauge",
        "z": "813ab6d8.2ec2f8",
        "name": "",
        "group": "7938eb78.501d94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hoje",
        "label": "celcius",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 300,
        "wires": []
    }
]